html {
    background-color: rgb(138, 202, 255);
    font-family: 'Poppins', sans-serif;
}

.app {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 100px auto 0;
    padding: 50px;
    top: 50%;
    left: 50%;
}

.app h1 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.quiz h2 {
    margin-bottom: 10px;
}

.quiz h3 {
    margin-top: 10px;
}

.quiz button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    transition: all .3s;
    
}

.quiz button:hover {
    background-color: rgb(241, 241, 241);
    
}

.app .next {
    background-color: white;
    width: 65px;
    border: 1px solid;
    /* right: 0px; */
    margin-top: 60px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    transition: all .3s;
    
    
}

.app .next:hover{
    background-color: rgb(241, 241, 241);
}




/* .button {
    border-style: solid;
    border-width: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */